.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.spinner {
    font-size: 40px;
    color: var(--secondary);
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
