@use '../../assets/styles/mixins' as mixin;

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loginForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    @include mixin.lg {
        width: 800px;
    }
    @include mixin.xl {
        width: 800px;
    }

    h1 {
        margin-bottom: 40px;
        color: var(--primary);
        font-weight: 700;
    }
}

.labelInputContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    @include mixin.md {
        width: 60%;
    }
    @include mixin.lg {
        width: 50%;
    }
    @include mixin.xl {
        width: 50%;
    }

    label {
        text-align: center;
        margin-bottom: 5px;
        font-size: 16px;
    }
}

.msgUserCreated {
    white-space: pre-line;
    text-align: center;
    margin-bottom: 10px;
}
