.modifyDeleteLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px 0;
}

.modifyLink {
    color: black;
    margin-right: 10px;
    line-height: 20px;

    &:hover {
        color: var(--primary);
    }
}

.deleteLink {
    color: black;
    line-height: 20px;

    &:hover {
        color: var(--primary);
    }
}
