.modifyDeleteLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    border-radius: 20px;
    padding: 0;
}

.modifyLink {
    color: white;
    margin-bottom: 10px;
    line-height: 20px;

    &:hover {
        color: var(--primary);
    }
}

.deleteLink {
    color: white;
    line-height: 20px;

    &:hover {
        color: var(--primary);
    }
}
