.notfoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--primary);
        margin-bottom: 10px;
    }
}
