.footer {
    background-color: var(--gray-2);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%;

    p {
        margin: 5px;
    }
}
