.post {
    width: 60%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infosCardContainer {
    width: 90%;
    padding: 10px 0;
}

.titleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        margin-bottom: 10px;
        color: var(--primary);
    }
    .menu {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 3px;
        font-size: 1.5em;

        &:hover {
            cursor: pointer;
            color: var(--primary);
            transition: transform 0.2s;
            transform: scale(1.2);
        }
    }
}

.date {
    text-align: end;
    margin-bottom: 10px;
    font-size: 12px;
    margin: 5px 0;
}

.imageContainer {
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        object-fit: cover;
        transition: 1s transform;
        border-radius: 20px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.pseudo {
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    margin: 2px 0;
}

.description {
    // width: 90%;
    margin: 10px 0;
    text-align: center;
}

.reactionContainer {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
        text-align: end;
        font-size: 25px;
        cursor: pointer;
        &:hover {
            transition: all 0.2s;
            transform: scale(1.2);
            color: var(--primary);
        }
    }

    .isLiked {
        color: var(--primary);
    }
    .isDisliked {
        color: var(--primary);
    }

    .likeContainer {
        margin-right: 10px;
        i {
            margin-right: 5px;
        }
    }
    .dislikeContainer {
        i {
            position: relative;
            top: 7px;
            transform: rotate(180deg);
            margin-right: 5px;
            &:hover {
                transform: scale(1.2) rotate(180deg);
            }
        }
    }
}
