@use '../../../../assets/styles/mixins' as mixin;

.post {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10% !important;

    @include mixin.md {
        padding: 20px 80px !important;
    }
    @include mixin.lg {
        padding: 20px 80px !important;
    }
    @include mixin.xl {
        padding: 20px 80px !important;
    }
}

.adminPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu {
        margin-bottom: 10px;
        font-size: 1.5em;

        &:hover {
            cursor: pointer;
            color: var(--primary);
            transition: transform 0.2s;
            transform: scale(1.2);
        }
    }
}

h3 {
    margin-bottom: 15px;
    color: var(--primary);
    text-align: center;
}

.date {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 12px;
    margin: 5px 0;
}

.imageContainer {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 800px;
        object-fit: contain;
        transition: 1s transform;
        border-radius: 20px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.adminImageContainer {
    width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 800px;
        object-fit: fill;
        transition: 1s transform;
        border-radius: 20px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.pseudo {
    align-self: flex-start;
    font-weight: 700;
    font-size: 12px;
    margin: 2px 0;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 150px;
}

.description {
    margin: 10px 0;
    text-align: center;
    white-space: pre-line;
}

.reactionContainer {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;

    i {
        text-align: end;
        font-size: 25px;
        cursor: pointer;
        &:hover {
            transition: all 0.2s;
            transform: scale(1.2);
            color: var(--primary);
        }
    }

    .isLiked {
        color: var(--primary);
    }
    .isDisliked {
        color: var(--primary);
    }

    .likeContainer {
        margin-right: 10px;
        i {
            margin-right: 5px;
        }
    }
    .dislikeContainer {
        i {
            position: relative;
            top: 7px;
            transform: rotate(180deg);
            margin-right: 5px;
            &:hover {
                transform: scale(1.2) rotate(180deg);
            }
        }
    }
}
