// Classes Boutons :

.btn {
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s opacity;
    font-size: 16px;

    &:hover {
        opacity: 0.8;
    }
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    transition: 0.5s background-color, color, border;

    &:hover {
        background-color: white;
        color: var(--primary);
        border: 2px solid white;
    }
}

.btn-reverse-primary {
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: white;
    transition: 0.5s background-color, color, border;

    &:hover {
        background-color: var(--primary);
        color: white;
        border: 2px solid var(--primary);
    }
}

.card {
    border-radius: 20px;
    background-color: var(--gray-2);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.text-primary {
    color: var(--primary);
}

label {
    font-weight: 500;
    margin-bottom: 3px;
}

input {
    padding: 10px 15px;
    border: 0.5px solid var(--gray-1);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    &:focus-visible {
        outline: 2px solid var(--primary);
    }
}

textarea {
    padding: 10px 15px;
    border: 2px solid var(--gray-2);
    border-radius: 20px;
    max-width: 100%;
    width: 500px;
    &:focus-visible {
        outline: 2px solid var(--primary);
    }
}

.form-error {
    margin: 3px 0 0 0;
    color: var(--error);
    font-weight: 500;
    font-size: 12px;
}
