// Variables CSS :
:root {
    --gray-1: #20232a;
    --gray-2: #efefef;
    --primary: #fd2d01;
    --secondary: #ffd7d7;
    --ternary: #4e5166;
    --error: #e74c3c;
    --font-family: 'Lato', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --text-color: #000;
}
